This is just to make some tweaks to our cleaned data (such as renaming the columns) so that we can make a nice R Shiny app!

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
df=pd.read_csv('cleaned_chronic_data.csv')
df.head()

,BENE_SEX_IDENT_CD,BENE_AGE_CAT_CD,CC_ALZHDMTA,CC_CANCER,CC_CHF,CC_CHRNKIDN,CC_COPD,CC_DEPRESSN,CC_DIABETES,CC_ISCHMCHT,...,AVE_OP_PAY_PB_EQ_12,AVE_OTH_PAY_PB_EQ_12,AVE_CA_VST_PB_EQ_12,AVE_OP_VST_PB_EQ_12,BENE_COUNT_PD_EQ_12,AVE_PDE_CST_PD_EQ_12,AVE_PDE_PD_EQ_12,Plan_A_Total_Cost,Plan_B_Total_Cost,Plan_D_Total_Cost
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,278.0,139.0,1.948,1.127,516476.0,2480.0,29.415,290.0,890.0,2480.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,564.0,295.0,2.957,2.786,753223.0,3479.0,28.795,913.0,1688.0,3479.0
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,980.0,444.0,6.070,3.872,1685.0,2751.0,33.657,3536.0,3064.0,2751.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1753.0,860.0,6.105,6.118,3963.0,3979.0,43.839,7164.0,5242.0,3979.0
4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,851.0,316.0,7.099,3.109,16427.0,2876.0,34.996,1487.0,3145.0,2876.0

In [3]:
y = df['BENE_SEX_IDENT_CD'].values.astype('int')
y

array([1, 1, 1, ..., 2, 2, 2])

In [4]:
df[['BENE_SEX_IDENT_CD']].value_counts()

BENE_SEX_IDENT_CD
2.0                  9691
1.0                  6826
dtype: int64

In [5]:
len(y)

16517

In [6]:
S = []
for i in range(len(y)):
    if y[i]==1:
        S = S + ['M']
    else:
        S = S + ['F']

In [7]:
df['BENE_SEX_IDENT_CD'] = S
df.rename(columns = {"BENE_SEX_IDENT_CD":"Sex", "BENE_AGE_CAT_CD":"Age Range"}, inplace=True)

In [8]:
df = df.iloc[:,:35]
df.head()

,Sex,Age Range,CC_ALZHDMTA,CC_CANCER,CC_CHF,CC_CHRNKIDN,CC_COPD,CC_DEPRESSN,CC_DIABETES,CC_ISCHMCHT,...,AVE_OP_PAY_PB_EQ_12,AVE_OTH_PAY_PB_EQ_12,AVE_CA_VST_PB_EQ_12,AVE_OP_VST_PB_EQ_12,BENE_COUNT_PD_EQ_12,AVE_PDE_CST_PD_EQ_12,AVE_PDE_PD_EQ_12,Plan_A_Total_Cost,Plan_B_Total_Cost,Plan_D_Total_Cost
0,M,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,278.0,139.0,1.948,1.127,516476.0,2480.0,29.415,290.0,890.0,2480.0
1,M,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,564.0,295.0,2.957,2.786,753223.0,3479.0,28.795,913.0,1688.0,3479.0
2,M,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,980.0,444.0,6.070,3.872,1685.0,2751.0,33.657,3536.0,3064.0,2751.0
3,M,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1753.0,860.0,6.105,6.118,3963.0,3979.0,43.839,7164.0,5242.0,3979.0
4,M,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,851.0,316.0,7.099,3.109,16427.0,2876.0,34.996,1487.0,3145.0,2876.0

In [9]:
z = df['Age Range'].values.astype('int')
z

array([1, 1, 1, ..., 6, 6, 6])

In [10]:
A = []
for i in range(len(z)):
    if z[i]==1:
        A = A + ['Under 65']
    elif z[i]==2:
        A = A + ['65-69']
    elif z[i]==3:
        A = A + ['70-74']
    elif z[i]==4:
        A = A + ['75-79']
    elif z[i]==5:
        A = A + ['80-84']
    else:
        A = A + ['85 and above']

In [11]:
df['Age Range'] = A
df.head()

,Sex,Age Range,CC_ALZHDMTA,CC_CANCER,CC_CHF,CC_CHRNKIDN,CC_COPD,CC_DEPRESSN,CC_DIABETES,CC_ISCHMCHT,...,AVE_OP_PAY_PB_EQ_12,AVE_OTH_PAY_PB_EQ_12,AVE_CA_VST_PB_EQ_12,AVE_OP_VST_PB_EQ_12,BENE_COUNT_PD_EQ_12,AVE_PDE_CST_PD_EQ_12,AVE_PDE_PD_EQ_12,Plan_A_Total_Cost,Plan_B_Total_Cost,Plan_D_Total_Cost
0,M,Under 65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,278.0,139.0,1.948,1.127,516476.0,2480.0,29.415,290.0,890.0,2480.0
1,M,Under 65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,564.0,295.0,2.957,2.786,753223.0,3479.0,28.795,913.0,1688.0,3479.0
2,M,Under 65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,980.0,444.0,6.070,3.872,1685.0,2751.0,33.657,3536.0,3064.0,2751.0
3,M,Under 65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1753.0,860.0,6.105,6.118,3963.0,3979.0,43.839,7164.0,5242.0,3979.0
4,M,Under 65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,851.0,316.0,7.099,3.109,16427.0,2876.0,34.996,1487.0,3145.0,2876.0

In [12]:
df.columns

Index(['Sex', 'Age Range', 'CC_ALZHDMTA', 'CC_CANCER', 'CC_CHF', 'CC_CHRNKIDN',
       'CC_COPD', 'CC_DEPRESSN', 'CC_DIABETES', 'CC_ISCHMCHT', 'CC_OSTEOPRS',
       'CC_RA_OA', 'CC_STRKETIA', 'CC_2_OR_MORE', 'DUAL_STUS',
       'BENE_COUNT_PA_EQ_12', 'AVE_PA_PAY_PA_EQ_12', 'AVE_IP_PAY_PA_EQ_12',
       'AVE_SNF_PAY_PA_EQ_12', 'AVE_OTH_PAY_PA_EQ_12', 'AVE_IP_ADM_PA_EQ_12',
       'AVE_SNF_DAYS_PA_EQ_12', 'BENE_COUNT_PB_EQ_12', 'AVE_PB_PAY_PB_EQ_12',
       'AVE_CA_PAY_PB_EQ_12', 'AVE_OP_PAY_PB_EQ_12', 'AVE_OTH_PAY_PB_EQ_12',
       'AVE_CA_VST_PB_EQ_12', 'AVE_OP_VST_PB_EQ_12', 'BENE_COUNT_PD_EQ_12',
       'AVE_PDE_CST_PD_EQ_12', 'AVE_PDE_PD_EQ_12', 'Plan_A_Total_Cost',
       'Plan_B_Total_Cost', 'Plan_D_Total_Cost'],
      dtype='object')

In [13]:
df2 = df

In [14]:
df2.columns = ["Sex","Age Range", "Alzheimer's/Dementia", "Cancer", "Heart Failure", "Chronic Kidney Disease",
"Chronic Obstructive Pulmonary Disease", "Depression", "Diabetes", "Ischemic Heart Disease", "Osteoporosis",
"Rheumatoid Arthritis/Osteoarthritis Arthritis", "Stroke/Transient Ischemic Attack", "Two or more Conditions",
"Dual Eligibility Status", "Count of Beneficiaries (Part A)", "Average Medicare Payment for Part A per Beneficiary",
"In Patient Services Payment", "Skilled Nursing Facility Services Payments",
"Other Services Payments Part A","In Patient Admissions", "SNF Covered Days","Count of Beneficiaries (Part B)",
"Average Medicare Payment for Part B per Beneficiary", "Carrier/Physician Payments", "Outpatient Services Payment",
"Other Services Payments Part B", "Carrier/Physician Visits","Outpatient Visits","Count of Beneficiaries (Part D)",
"Drug Cost", "Prescriptions Per Beneficiary", "Plan A Total Cost", "Plan B Total Cost", "Plan D Total Cost"]

In [15]:
df2.head()

,Sex,Age Range,Alzheimer's/Dementia,Cancer,Heart Failure,Chronic Kidney Disease,Chronic Obstructive Pulmonary Disease,Depression,Diabetes,Ischemic Heart Disease,...,Outpatient Services Payment,Other Services Payments Part B,Carrier/Physician Visits,Outpatient Visits,Count of Beneficiaries (Part D),Drug Cost,Prescriptions Per Beneficiary,Plan A Total Cost,Plan B Total Cost,Plan D Total Cost
0,M,Under 65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,278.0,139.0,1.948,1.127,516476.0,2480.0,29.415,290.0,890.0,2480.0
1,M,Under 65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,564.0,295.0,2.957,2.786,753223.0,3479.0,28.795,913.0,1688.0,3479.0
2,M,Under 65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,980.0,444.0,6.070,3.872,1685.0,2751.0,33.657,3536.0,3064.0,2751.0
3,M,Under 65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1753.0,860.0,6.105,6.118,3963.0,3979.0,43.839,7164.0,5242.0,3979.0
4,M,Under 65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,851.0,316.0,7.099,3.109,16427.0,2876.0,34.996,1487.0,3145.0,2876.0

In [16]:
RShinydf = df2.drop(["Alzheimer's/Dementia", "Cancer", "Heart Failure", "Chronic Kidney Disease",
"Chronic Obstructive Pulmonary Disease", "Depression", "Diabetes", "Ischemic Heart Disease", "Osteoporosis",
"Rheumatoid Arthritis/Osteoarthritis Arthritis", "Stroke/Transient Ischemic Attack", "Two or more Conditions",
"Dual Eligibility Status"], axis=1)

RShinydf.head()

,Sex,Age Range,Count of Beneficiaries (Part A),Average Medicare Payment for Part A per Beneficiary,In Patient Services Payment,Skilled Nursing Facility Services Payments,Other Services Payments Part A,In Patient Admissions,SNF Covered Days,Count of Beneficiaries (Part B),...,Outpatient Services Payment,Other Services Payments Part B,Carrier/Physician Visits,Outpatient Visits,Count of Beneficiaries (Part D),Drug Cost,Prescriptions Per Beneficiary,Plan A Total Cost,Plan B Total Cost,Plan D Total Cost
0,M,Under 65,982758.0,290.0,256.0,8.0,26.0,0.032,0.019,637117.0,...,278.0,139.0,1.948,1.127,516476.0,2480.0,29.415,290.0,890.0,2480.0
1,M,Under 65,613282.0,913.0,843.0,36.0,34.0,0.092,0.095,581822.0,...,564.0,295.0,2.957,2.786,753223.0,3479.0,28.795,913.0,1688.0,3479.0
2,M,Under 65,4265.0,3536.0,3109.0,229.0,198.0,0.360,0.453,4024.0,...,980.0,444.0,6.070,3.872,1685.0,2751.0,33.657,3536.0,3064.0,2751.0
3,M,Under 65,3982.0,7164.0,5990.0,893.0,281.0,0.509,2.190,3865.0,...,1753.0,860.0,6.105,6.118,3963.0,3979.0,43.839,7164.0,5242.0,3979.0
4,M,Under 65,37329.0,1487.0,1317.0,66.0,104.0,0.142,0.147,36156.0,...,851.0,316.0,7.099,3.109,16427.0,2876.0,34.996,1487.0,3145.0,2876.0

In [17]:
RShinydf.to_csv("ShinyCCData.csv", index=False) #This is the dataset we will upload to R

In [ ]:
agesumdf=RShinydf.groupby(["Age Range", "Sex"])["Count of Beneficiaries (Part A)","Count of Beneficiaries (Part B)"
,"Count of Beneficiaries (Part D)"].sum().astype('int')

In [21]:
agesumdf.head(12) #just checking group sizes for curiosity!

                  Count of Beneficiaries (Part A)  \
Age Range    Sex
65-69        F                            3796165
             M                            3587660
70-74        F                            3474502
             M                            3048058
75-79        F                            2802470
             M                            2217672
80-84        F                            2411253
             M                            1618654
85 and above F                            2883371
             M                            1369786
Under 65     F                            2789635
             M                            3162520

                  Count of Beneficiaries (Part B)  \
Age Range    Sex
65-69        F                            3268713
             M                            2882511
70-74        F                            3260090
             M                            2715027
75-79        F                            2714092
             M                            2070720
80-84        F                            2357022
             M                            1539723
85 and above F                            2769346
             M                            1270145
Under 65     F                            2475370
             M                            2726216

                  Count of Beneficiaries (Part D)
Age Range    Sex
65-69        F                            2927691
             M                            2185535
70-74        F                            3010274
             M                            2232437
75-79        F                            2484169
             M                            1619332
80-84        F                            2084405
             M                            1142275
85 and above F                            2351667
             M                             864577
Under 65     F                            2497603
             M                            2459857